# NOAA National Data Buoy Center

<img style="float: right;" src="DataSetSources.png" width="500">

## Project Decription: Create a surf forecast model using NOAA buoy data

## Links to Data:

### [Edisto Offshore Data](https://www.ndbc.noaa.gov/station_history.php?station=41004)

### [ENE Nassau Offshore Data](https://www.ndbc.noaa.gov/station_history.php?station=41047)

### Team Members:

### [*Jill Sirignano*](https://github.com/sirignanoj)

### [*Evan Tanner*](https://github.com/surfevant)

### [*Alex Swanson*](https://github.com/EyYoTony)

In [2]:
#import Libraries
import os
import pandas as pd

#will have to change depending on relative os path
os.chdir('/home/loki/Desktop/Final_Project/Data-Mining-Project/DataSets')

#dataframes for feature extraction (need to clean)
nsDf = pd.read_csv('formatted_Edisto.csv')
osDf = pd.read_csv('formatted_Bahamas.csv')

In [6]:
nsDf.shape

(8743, 18)

In [7]:
osDf.shape

(8728, 18)

In [9]:
#Need to clean data
nsDf.head(8)

,#YY,MM,DD,hh,mm,WDIR_degt,WSPD_ms,GST_ms,WVHT_m,DPD_sec,APD_sec,MWD_degt,PRES_hpa,ATMP_degc,WTMP_degc,DEWP_degc,VIS_mi,TIDE_ft
0,2014,12,31,23,50,18,4.9,7.3,1.25,10.81,5.21,85,1027.7,11.3,23.4,3.5,99.0,99.0
1,2015,1,1,0,50,17,5.1,7.2,1.21,6.25,5.09,69,1027.9,11.4,23.2,3.3,99.0,99.0
2,2015,1,1,1,50,2,5.0,6.6,1.21,10.81,5.39,76,1028.2,11.3,22.9,1.8,99.0,99.0
3,2015,1,1,2,50,23,5.3,7.7,1.18,9.09,5.49,82,1028.0,11.4,22.5,1.9,99.0,99.0
4,2015,1,1,3,50,24,5.2,7.0,1.04,11.43,5.33,98,1027.6,11.6,22.2,3.2,99.0,99.0
5,2015,1,1,4,50,22,4.8,7.7,0.91,10.81,5.07,88,1027.5,11.8,22.3,3.8,99.0,99.0
6,2015,1,1,5,50,18,4.4,6.8,1.03,10.00,5.69,75,1027.0,12.0,22.3,4.1,99.0,99.0
7,2015,1,1,6,50,22,3.7,5.2,1.01,10.00,5.50,66,1026.3,12.1,22.3,4.3,99.0,99.0

In [8]:
osDf.head(8)

,#YY,MM,DD,hh,mm,WDIR_degt,WSPD_ms,GST_ms,WVHT_m,DPD_sec,APD_sec,MWD_degt,PRES_hpa,ATMP_degc,WTMP_degc,DEWP_degc,VIS_mi,TIDE_ft
0,2014,12,31,23,50,97,1.8,2.7,1.24,8.33,5.75,4,1022.1,23.6,25.4,19.6,99.0,99.0
1,2015,1,1,0,50,94,1.6,2.3,1.29,7.14,5.89,100,1022.2,23.8,25.4,19.9,99.0,99.0
2,2015,1,1,1,50,168,0.1,0.4,1.22,8.33,5.96,11,1022.4,23.9,25.4,19.6,99.0,99.0
3,2015,1,1,2,50,215,2.3,2.9,1.44,8.33,6.38,355,1022.2,23.7,25.4,20.0,99.0,99.0
4,2015,1,1,3,50,294,2.9,3.7,1.58,8.33,6.51,12,1022.3,23.8,25.4,19.0,99.0,99.0
5,2015,1,1,4,50,349,7.8,8.9,1.65,9.09,6.77,349,1021.9,21.9,25.3,19.6,99.0,99.0
6,2015,1,1,5,50,8,5.1,6.1,1.81,9.09,6.81,353,1021.4,22.2,25.3,19.4,99.0,99.0
7,2015,1,1,6,50,356,4.3,5.5,2.05,10.00,7.60,357,1021.0,22.4,25.3,19.6,99.0,99.0